{
  "general": {
    "debug": {{ grafana_backup_debug }},
    "verify_ssl": {{ grafana_backup_verify_ssl }},
    "backup_dir": "{{ grafana_backup_archive_dir }}",
    "backup_file_format": "{{ grafana_backup_file_format }}",
    "pretty_print": {{ grafana_backup_prettyprint }}
  },
  "grafana": {
    "url": "{{ grafana_url }}",
    "token": "{{ grafana_api_token }}",
    "search_api_limit": {{ grafana_datasource_limit|int }},
    "default_password": "000000",
    "admin_account": "{{ grafana_admin_user }}",
    "admin_password": "{{ grafana_admin_password }}"
  }
}